  <div class="footer">
	&copy;2011 Rackspace, US Inc. |
	<a href="http://www.rackspace.com/information/aboutus/" target="_blank" >  About Rackspace</a> |
	<a href="http://www.rackspace.com/whyrackspace/support/" target="_blank" >Fanatical Support&reg;</a> |
	<a href="http://www.rackspace.com/information/legal/privacystatement.php"  target="_blank" rel="nofollow">Privacy Statement</a> |
	<a href="http://www.rackspace.com/information/legal/websiteterms.php"  target="_blank">Website Terms</a>
    <!-- end .footer --></div>
<!-- end .container --></div>
</div>
</body>
</html>
